<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Cadastrar Problema</title>

</head>
<body>
<div class="center">
    <h1>Cadastrar Problema</h1>
    <form method="post" action="/cadastrar_problema">
        <div class="txt_field">
            <input type="text" name="titulo" required>
            <span></span>
            <label>Título</label>
        </div>
        <div class="txt_field">
            <input type="text" name="descricao" required>
            <span></span>
            <label>Descrição</label>
        </div>
        <div class="txt_field">
            <input type="text" name="dificuldade" required>
            <span></span>
            <label>Dificuldade</label>
        </div>
        <div class="txt_field">
            <input type="text" name="categoria" required>
            <span></span>
            <label>Categoria</label>
        </div>
        <input type="submit" value="Cadastrar Problema">
    </form>

</div>
<script src="script.js"></script>
</body>
</html>
