<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="stylelogin.css">
</head>

<body>
  <div class="center">
    <h1>Login</h1>
    <form method="post" action="/login">
      <div class="txt_field">
        <input type="text" id="matricula" required>
        <span></span>
        <label>Matrícula</label>
      </div>
      <div class="txt_field">
        <input type="password" name="senha" required>
        <span></span>
        <label>Senha</label>
      </div>
      <div class="forgot">Esqueci minha senha</div>
      <input type="submit" value="Login">
      <div class="signup_link">
        Ainda não possui uma conta? <a href="/cadastro">Cadastre-se</a>
      </div>
    </form>
  </div>

  <script src="script.js"></script>

  <script>
    function redirectToMain() {
      return true; 
    }
  </script>
</body>

</html>
