.sidebar-container {
    width: 200px;
    height: 100%;
    background-color: #1E1F28;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0;
}

.logo{
    padding-top: 24px;
}

.nav-list {
    padding: 0;
}

.nav-link:hover {
    cursor: pointer;
    background-color: #107563;
}

.nav-link .icon-text {
    color: white;
    flex: 1; /* Adjusted flex value */
    padding: 10px;
    font-size: 12px;
}

.nav-link .nav-link-icon {
    all: unset;
    display: grid;
    place-items: center;
    color: white;
    size: 15px;
}

.nav-link {
    text-decoration: none;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 0 10px;
    margin-bottom: 8px;
}

.nav-item{
    list-style-type: none;
}


a.active{
    background-color: #02AA8B;
    font-weight: 500;
}

.user-container{
    padding-top: 24px;
    display: flex;
    color: white;
    width: 200px;
}

.user-information{
    padding-left: 8px;
    height: fit-content;
}

.user-name{
    font-size: 14px;
    line-height: 2px;
    padding: 0;
}

.user-role{
    font-size: 10px;
    line-height: 5px;
}