.head-container{
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    padding-right: 110px;
}

.listaDeProblemas{
    margin-top: 15px;
    overflow: auto;
    height: 300px;
    width: 1100px;
    min-width: 800px;
}


.listaDeProblemas::-webkit-scrollbar {
    width: 10px;
    height: auto;
}

.listaDeProblemas::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border-radius: 7px;
    background: #686868;
}


.card{
    margin-bottom: 10px;
    background-color: #D9D9D9;
    padding: 5px 20px;
    border-radius: 8px;
    height: 60px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content{
    width: 100%;
}

.cardTitulo{
    font-size: 13px;
}

.cardDescricao{
    font-size: 11px;
    color: #696969;
    margin-top: 10px;
}

.etiquetas{
    font-size: 12px;
    display: flex;
    margin-left: auto;
    margin-right: 0;

}

.categoria, .dificuldade{
    background-color: #645C5C;
    margin-left: 5px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.cardHead{
    display: flex;
}

