<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<!--    <link rel="stylesheet" href="style.css">
     
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">-->

    <title>Easyhelp</title>
</head>
<body>

    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="images/logo.png" alt="">
            </div>
            <span class="logo_name">EasyHelp</span>
        </div>

        <label for="pesquisaProblema">Pesquise por um problema:</label>
        <input type="text" id="pesquisaProblema" name="pesquisaProblema">

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-analytics"></i>
                    <span class="link-name">Relatório mensal</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-constructor"></i>
                    <span class="link-name">Gerenciar Usuários</span>
                </a></li>
                <li><a href="cadastrar_problema">
                    <i class="uil uil-exclamation-triangle"></i>
                    <span class="link-name">Cadastrar Problema</span>

                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li>
                    <a href="login">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span> 
                    </a>
                </li>
            </ul>
            

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>

                    <!-- Dark Mode -->
                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Dashboard Section -->
    <section class="dashboard">
        <div class="top">
            <!-- Sidebar Toggle Button -->
            <i class="uil uil-bars sidebar-toggle"></i>
            
            <!--<img src="images/profile.jpg" alt="">-->
        </div>

        <!-- Dashboard Content -->
        <div class="dash-content">
            <div class="overview">
                <!-- Section Title -->
                <div class="title">
                    <i class="uil uil-comment-add"></i>
                    <span class="text">Inserir problema</span>
                </div>
                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-camera-plus"></i>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-chat"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <h1>Lista de Problemas</h1>

    <ul>
        <% problems.forEach((problem) => { %>
            <h3><%= problem.titulo %></h3>
            <p><%= problem.descricao %></p>
        <% }) %>
    </ul>
    <!-- JavaScript -->
    <script src="script.js"></script>
</body>
</html>
