.create-order-container{
    padding-top: 20px;
    width: 900px;
    height: fit-content;

}

.create-order-header{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #1E1F28;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 700;
    color: white;
}

.create-order-content{
    background-color: #D9D9D9;
    padding: 20px;
}

